@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:ital,wght@1,300&display=swap");

$body-font-family: "Open Sans", sans-serif;
$font-size-root: 18px;
$title-font-family: "Roboto", $body-font-family;
